@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jomolhari&family=Playfair+Display:wght@500&family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jomolhari&family=Josefin+Sans:wght@700&family=Londrina+Solid&family=Playfair+Display:wght@500&family=Raleway:wght@300;500&display=swap');

body{
    background-color: #222222;
}

.Website-Search{
    background-image: url(../Images/Mountains-Park-min.jpg);
    height: 70vh;
    display: flex;
    justify-content: center;
}

.Explore-Parks{
    position: absolute;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10vw;
    text-shadow: #353535 2px 2px 40px;
}

.Seraching{
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}