@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jomolhari&family=Playfair+Display:wght@500&family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jomolhari&family=Josefin+Sans:wght@700&family=Londrina+Solid&family=Playfair+Display:wght@500&family=Raleway:wght@300;500&display=swap');

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    }


@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
    @keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

    .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.Image {
    height: 40vh;
    width: 100%;
    background-size: cover;
    object-fit: cover; 
    // object-position: 0px 0px;
}

.font-details {
    position: absolute;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10vw;
    text-shadow: #353535 2px 2px 40px;
    display: flex;
    text-align: center;
    margin-top: 5%;
}

.text-align {
    display: flex;
    justify-content: center;
}

.des-box {
    display: flex;
    text-align: center;
    margin: 5%;
    background-color: white;
    opacity: 95%;
    padding: 2%;
    border: 2px solid rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.des {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    margin-bottom: 2%;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.phone {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

.emails {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

.des:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    margin-left: -50px;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px black;
}

.All-Containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.Info-Container:before {
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 3px;
    margin-left: 33%;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px black;
}

.Info-Container:hover{
    background-color: rgba(24, 24, 24, 0.733);
}

.Info-Container-Fee:hover{
    background-color: rgba(24, 24, 24, 0.733);
}

.Info-Container{
    border: 1px solid #e6e6e6;
    opacity: 95%;
    width: 33%;
    margin-top: 6%;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.781);
}

.Info-Container-Fee {
    border: 1px solid #e6e6e6;
    opacity: 95%;
    width: 90%;
    margin-top: 7%;
    // margin: 9%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.781);
}

.fees {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.Info-Box {
    display: flex;
    flex-direction: column;
}

.fee-details {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
}

.park-fun {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 15px;
    text-align: center;
}  

.specific-details {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
}

// ------------------------------------------------------------Mobile

@media (max-width: 644px) {
    .directions {
        font-size: small;
    }
}

